html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
float:right;
}
/* */
/* */
/* */


body{
	background-color:#D3D3D3;
}

h1{
	font-family: "Times New Roman";
	font-size: 14;
	text-align: center;
	margin:10px;
}

h2{
	font-family: "Times New Roman";
	font-size: 12;
	text-align: center;
	margin:10px;
}

.background{
	border: red thin solid;/*Seulement pour test inclusion, à virer par la suite*/
	background-color:#D3D3E5;
	margin:10px;
}

.infoOnUser{
    text-align: center;
}

.cadres {
	margin:0 auto;
	padding:0.5%;
	width:80%;
}

.listChannels{
	display: inline-block;
	border: blue thin solid;
	margin: 0 auto;
	width:32.2%;
	padding:10px;
	height:60%;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}

#channels{
	list-style:none;
}

#channels li:hover{
	background-color: yellow;
}



.tchat{
	display: inline-block;
	border: blue thin solid;
	width:35%;
	padding:10px;
	height:60%;
	overflow:auto;
	vertical-align: top;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
	margin: 0 auto;
}

.listUsers{
	display: inline-block;
	position:relative;
	border: blue thin solid;
	width:32.2%;
	padding:10px;
	height:60%;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}

.textEntry{
/*La position est en relative par defaut donc pas de precision
a donner a ce niveau la. Ne pas metttre la position en absolute*/
	border: orange thin solid;
	margin:0 auto;
	margin-top:0;
	margin-bottom:10;
	width:30%;
	max-width:30%;
	height:25%;
	padding:0.5%;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}


textarea#TextZone{
	width: 100%;
	height:60%;
}

textarea#newChannelText{
    width: 50%;
    height: 8%;
}




#usersOnChan{
	list-style:none;
}

#usersOnChan li:hover{
	background-color: yellow;
}