body{
	background-color:#D3D3D3;
}

h1{
	font-family: "Times New Roman";
	font-size: 14;
	text-align: center;
}

h2{
	font-family: "Times New Roman";
	font-size: 12;
	text-align: center;
}

.background{
	border: red thin solid;/*Seulement pour test inclusion, à virer par la suite*/
	background-color:#D3D3E5;
}

.listChannels{
	display: inline-block;
	border: blue thin solid;
	margin-left: 10%;
	margin-top: 10%;
	width:20%;
	height:60%;/*Si on met a plus que 60%, on va voir le Text Entry descendre encore plus bas*/
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}

#channels{
	list-style:none;
}

#channels li:hover{
	background-color: yellow;
}


.tchat{
	display: inline-block;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
	position:absolute;
	border: blue thin solid;
	margin-left: 5%;
	margin-top:10%;
	width:30%;
	height:50%;
	overflow:auto;
	
}

.textEntry{
/*La position est en relative par defaut donc pas de precision
a donner a ce niveau la. Ne pas metttre la position en absolute*/
	border: orange thin solid;
	margin-left: 35%;
	width:30%;
	height:25%;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}

textarea#TextZone{
	width: 100%;
	height:60%;
}

.listUsers{
	display: inline-block;
	position:absolute;
	border: blue thin solid;
	margin-left: 70%;
	top:23.5%;
	width:20%;
	height:80%;
	overflow:auto;/*Fait apparaitre scrollbar lorsque limite de taille atteinte*/
}

.infoOnUser{
    text-align: center;
}

#usersOnChan{
	list-style:none;
}

#usersOnChan li:hover{
	background-color: yellow;
}